<%= form_with(model: movie, local: true) do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_field :name, class: "input", placeholder: "Nombre de la película" %>
    </div>
  </div>

  <h2 class="title is-5" style="display: inline;">Asignar cliente a la película</h2>
  <div class="field">
    <div class="control">
      <%= form.collection_select :client_id, Client.where(movie_id: nil), :id, :name, { prompt: "Seleccionar Cliente" }, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Guardar Película", class: "button is-primary" %>
    </div>
  </div>
<% end %>

