<div id="<%= dom_id movie %>">
    <div>
      <p>
        <strong>Name:</strong>
        <%= movie.name %>
        <strong>Clientes</strong>
      <% movie.clients.each do |client| %>
        <span><%= client.name %> </span>
      <% end %>
      </p>
    </div>
  </div>


</div>
