<div id="<%= dom_id client %>" class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Name:</strong>
          <%= client.name %>
        </p>

        <p>
          <strong>Age:</strong>
          <%= client.age %>
        </p>
      </div>
    </div>
  </article>
</div>
