<div id="<%= dom_id client %>" class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Nombre:</strong>
          <%= client.name %>
          <br>
          <strong>Edad:</strong>
          <%= client.age %>
          <br><br>
          <strong>Película arrendada: </strong>
          <% if client.movie.present? %>
            <%= client.movie.name %>
          <% else %>
            Ninguna
          <% end %>
        </p>
      </div>
    </div>
  </article>
</div>
