<br>
<br>
<h1 class="title">Asignar Película</h1>

<%= form_with(model: @client, url: assign_movie_client_path(@client), local: true, method: :patch) do |f| %>

  <!-- Se muestra el nombre del cliente -->
  <div class="field">
    <h2 class="title is-6">Cliente</h2>
    <div class="control">
      <input class="input" type="text" value="<%= @client.name %>" enable>
    </div>
  </div>

  <!-- despliegue de películas -->
  <div class="field">
    <h2 class="title is-6">Seleccionar Película</h2>
    <div class="control">
      <%= f.collection_select :movie_id, @movies, :id, :name, { prompt: "Seleccionar Película" }, class: "input" %>
    </div>
  </div>

  <!-- Botón -->
  <div class="field">
    <div class="control">
      <%= f.submit "Asignar Película", class: "button is-primary" %>
    </div>
  </div>

<% end %>

