<% content_for :title, "Editing client" %>

<section class="section">
  <div class="container">
    <h1 class="title">Editar Cliente</h1>

    <%= render "form", client: @client %>

    <br>

    <div class="mt-4">
      <div class="buttons">
        <%= link_to "Show this client", @client, class: "button is-info" %>
        <%= link_to "Back to clients", clients_path, class: "button is-light" %>
      </div>
    </div>
  </div>
</section>
