<% content_for :title, "New client" %>

<section class="section">
  <div class="container">
    <h1 class="title">Nuevo Cliente</h1>

    <%= render "form", client: @client %>

    <br>

    <div class="mt-4">
      <%= link_to "Listado Clientes", clients_path, class: "button is-light" %>
    </div>
  </div>
</section>

