<section class="section">
  <div class="container">

    <%= render @client %>

    <div class="mt-4">
      <div class="buttons">
        <%= link_to "Edit this client", edit_client_path(@client), class: "button is-warning" %>
        <%= link_to "Back to clients", clients_path, class: "button is-light" %>
        <%= button_to "Destroy this client", @client, method: :delete, class: "button is-danger" %>
      </div>
    </div>

  </div>
</section>